.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
 
}
.dialogs textarea {
    position: relative;
    left: 150px;
    top: -150px;
  
}
.dialogs button{
  position: relative;
    left: 150px;
    top: -150px;
}
.dialogsitems {
  padding: 10px;
}
.dialogsitems .active {
  color: gold;
}
.messages {
  padding: 10px;
}
