.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.areabutton{
padding-top: 30px;
}
.dialogsitems {
  padding: 10px;
}
.dialogsitems .active {
  color: gold;
}
.messages {
  padding: 10px;
}
